<ion-view view-title="Register">
    <ion-header-bar>
        <a class="button icon-left ion-chevron-left button-clear button-dark" ng-href="#/login"></a>
        <h1 class="title">Register</h1>
    </ion-header-bar>
    <ion-content>
        <input type="email" ng-model="userEmail" placeholder="Email">

        <input type="password" ng-model="userPassword" id="firstPass" placeholder="Password">
        <input type="password" id="repeatPass" placeholder="Confirm Password">
      <!-- <ion-icon class="ion-social-googleplus"></ion-icon> -->
        <button class="button button-energized" ng-click="register()">Register</button>
    </ion-content>
</ion-view>