<ion-view view-title="Register Beers">

    <ion-header-bar>
        <a class="button icon-left ion-chevron-left button-clear button-dark" ng-href="#/register"></a>
        <h1 class="title">Rate Beers</h1>
    </ion-header-bar>
    <ion-content>

        <div class="list card eachBeerCard" ng-repeat="(key, beer) in registerBeerList">
        
            <div class="item item-avatar beerRatingCard p-0">
                <img src={{beer.labels.icon}}>
                <div class="center-text beerName">{{beer.name}}</div>
                <div class="center-text">{{beer.style.shortName}}</div>
                <div class="ratingOutputDiv">
                    <div class="ratingOutput center-text">{{beerRating}}</div>
                    <!-- <button class="button button-balanced" ng-click="rate()">Rate!</button> -->
                </div>
            </div>
        
            <!-- <div class="item item-image"> -->
                <!-- {{icon image}} -->
            <!-- </div> -->
            
            <div class="list rangeRater">
                <div class="item range range-positive">
                    <i class="icon ion-thumbsdown"></i>
                    <input type="range" name="beerRating" step="5" min="0" max="100" value="0" id="beerRatingRange" ng-model="beerRating">
                    <i class="icon ion-thumbsup"></i>
                </div>
            </div>
        </div>


        <button class="button button-energized" ng-click="rate()" ng-if="beersLoaded">Done!</button>

    </ion-content>
</ion-view>