<ion-view view-title="Suggestions">
  <ion-content>
    <!-- <div ng-repeat=""> -->

      <!-- <div class="card" ng-repeat="(key, beer) in someBrews">
        <div class="item item-text-wrap">
          {{beer.name}}
        </div>
      </div> -->

      <div class="list card eachBeerCard" ng-repeat="(key, beer) in someBrews">

        <div class="item item-avatar beerRatingCard p-0" id="{{beer.id}}" ng-click="toggleBigCard($event)">
          <img src={{beer.labels.icon}}>
          <div class="center-text beerName">{{beer.name}}</div>
          <div class="center-text">{{beer.style.shortName}}</div>
          <div class="ratingOutputDiv">
            <div class="ratingOutput center-text">{{beerRating}}</div>
          </div>
        </div>

        <div class="dropdownCard">
          <div class="dropdownDescription">
            {{beer.description}}
          </div>
          <div class="list rangeRater">
            <div class="item range range-positive">
              <i class="icon ion-thumbsdown"></i>
              <input class="slide" type="range" name="beerRating" step="5" min="0" max="100" value="0" id="beerRatingRange" ng-model="beerRating">
              <i class="icon ion-thumbsup"></i>
            </div>
          </div>
        </div>

      </div>
  
  </ion-content>
</ion-view>
