<ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab title="Suggestion" icon-on="ion-chatboxes" icon-off="ion-chatboxes" href="#/app/brews/suggestions">
        <ion-nav-view name="tab-suggestions"></ion-nav-view>
    </ion-tab>
    <ion-tab title="My Beers" icon-on="ion-beer" icon-off="ion-beer" href="#/app/brews/myBeers">
        <ion-nav-view name="tab-myBeers"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Add Beer" icon-on="ion-plus" icon-off="ion-plus" href="#/app/brews/addBeer">
        <ion-nav-view name="tab-addBeer"></ion-nav-view>
    </ion-tab>

</ion-tabs>