/* Empty. Add your own CSS if you like */

.flip-container {
    width: 300px;
    height: 250px;
    position: relative;
    perspective: 800px;
}

.flipper {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 1.6s;
}

.front,
.back {
    margin: 0 auto;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.flipper.flipped {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
}

.button-energized {
    display: block;
    margin: 4rem auto;
    width: 90%;
}

input {
    /* display: block;
    margin: 2rem auto;
    border-bottom: 1px solid #30CBBA !important; */
    text-align: center;
}

.item-input {
    border: none;
    border-bottom: 1px solid #30CBBA;
    margin: 0 auto;
    margin-top: 2rem;
    width: 90%;
}

.item {
    border: none !important;
}

.range-positive {
    border: none;
}

.center-text {
    text-align: center;
}

.ratingOutputDiv {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 15%;
    height: 100%;
    border-left: 1px solid #ddd;
    margin-left: auto;
    /* margin: 1rem auto;
    margin-top: 2rem; */
}

.ratingOutput {
    margin-top: 1.5rem;
    font-size: 2rem;
}

#addBeerSearch {
    width: 80%;
    /* padding-bottom: 1rem; */
    border-bottom: 1px solid #30CBBA;
}

.mr-auto {
    margin: 0 auto;
}

.searchBeersBtn {
    margin-top: 2rem;
}

.beerRatingCard {
    padding: 0;
}

.p-0 {
    padding: 0;
}

.beerName {
    max-width: 250px;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.rangeRater {
    border-top: 1px solid #ddd;
}

.ion-chevron-left {
    color: #646464 !important;
}


.dropdownDescription {
    height: 250px;
    width: 300px;
    margin: 0 auto;
    padding-top: 1rem;
    /* border-left: 20px solid rgba(68, 68, 68, 0.09);
    border-right: 20px solid rgba(68, 68, 68, 0.09);  */
}

.dropdownCard {
    height: 0px;
}

.showCard {
    height: 300px;
    transition: height .8s ease-in;
}

.hideCard {
    height: 0px;
    transition: height .8s ease-in;
}

.wildcardSuggestions {
    height: 350px;
}

.suggTitle {
    text-align: center;
    color: #444;
}

.beerImage {
    display: block;
    margin-left: 25%;
}

.ion-thumbsdown,
.ion-thumbsup {
    font-size: 30px !important;
}

.eachBeerCard {
    box-shadow: 1px 2px #ddd !important;
}

