/* Empty. Add your own CSS if you like */

.button-energized {
    display: block;
    margin: 4rem auto;
    width: 90%;
}

input {
    /* display: block;
    margin: 2rem auto;
    border-bottom: 1px solid #30CBBA !important; */
    text-align: center;
}

.item-input {
    border: none;
    border-bottom: 1px solid #30CBBA;
    margin: 0 auto;
    margin-top: 2rem;
    width: 90%;
}

.range-positive {
    border: none;
}

.center-text {
    text-align: center;
}

.ratingOutputDiv {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 15%;
    height: 100%;
    border-left: 1px solid #ddd;
    margin-left: auto;
    /* margin: 1rem auto;
    margin-top: 2rem; */
}

.ratingOutput {
    margin-top: 1.5rem;
    font-size: 2rem;
}

#addBeerSearch {
    width: 80%;
    /* padding-bottom: 1rem; */
    border-bottom: 1px solid #30CBBA;
}

.mr-auto {
    margin: 0 auto;
}

.searchBeersBtn {
    margin-top: 2rem;
}

.beerRatingCard {
    padding: 0;
}

.p-0 {
    padding: 0;
}

.beerName {
    max-width: 250px;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.rangeRater {
    border-top: 1px solid #ddd;
}

.ion-chevron-left {
    color: #646464 !important;
}

ion-tabs {
    color: red !important;
}